$mdc-theme-primary: #d91c97;
@import "@material/textfield/mdc-text-field";
@import "@material/button/mdc-button";
@import "@material/dialog/mdc-dialog";
@import "@material/typography/mdc-typography";
@import "@material/elevation/mdc-elevation";
@import "@material/card/mdc-card";
@import "@material/list/mdc-list";
@import "~swiper/dist/css/swiper.min";

* {
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
input, textarea {
  -ms-user-select: auto;
  -moz-user-select: -moz-auto;
  -khtml-user-select: auto;
  -webkit-user-select: auto;
  user-select: auto;
}

html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto,Arial,Helvetica,sans-serif;
  font-weight: 300;
}

body {
  margin: 0 10px !important;
}

button {
  //display: block !important;
}

.mdc-typography--headline4 { margin: 18px 9px 13.5px; }
.mdc-typography--headline5 { margin: 14.4px 7.2px 10.8px; }
@media (max-width: 450px) {
  .mdc-typography--headline4 { font-size: 7.5vw; margin: 4vw 2vw 3vw; }
  .mdc-typography--headline5 { font-size: 5.4vw; margin: 3.2vw 1.6vw 2.4vw; }
}

.index-header {
  padding-bottom: .5em;
  border-bottom: 2px solid #7ED1E6;
}

.blue {
  color: white;
  background-color: #1976d2;
}

.green {
  color: white;
  background-color: #388e3c;
}

.red {
  color: white;
  background-color: #d32f2f;
}

.purple {
  color: white;
  background-color: #7b1fa2;
}

.gray {
  color: white;
  background-color: #455a64;
}

.orange {
  color: white;
  background-color: #f57c00;
}

.brown {
  color: white;
  background-color: #5d4037;
}

/////タイトル/////
#title-icon {
  display: inline-block;
  width: 15vw;
  height: 15vw;
  max-width: 67.5px;
  max-height: 67.5px;
  margin: 0 5px;
}

#title-text {
  display: inline-block;
  margin: 2px 5px 0;
  font-size: 9vw;
  @media (min-width: 450px) { font-size: 42px; }
}

/////順番待ち
#complete-container {
  min-height: 150px;
  margin: 15px;
  padding: 30px 10px 10px;
  border: 1px dotted #4b2c20;
  border-radius: 5px;
  position: relative;
  .complete-title {
    width: fit-content;
    margin: 0;
    padding: 0px 5px;
    background-color: white;
    position: absolute;
    top: -15px;
  }
  .order-ticket {
    margin: 5px;
    font-size: 1.2rem;
  }
}

#complete-container-monitor {
  margin: 30px 20px;
  .order-ticket {
    margin: 5px;
    font-weight: 500;
    font-size: 1.2rem;
    zoom: 6.6;
  }
  
}

/////番号札
.order-ticket {
  @extend .mdc-elevation--z2;
  display: inline-block;
  width: fit-content;
  padding: 4px 6px 3px 6px;
  color: white;
  background-color: #4b2c20;
  border: 2px solid #a98274;
}

/////swiperのコンテナ
.overlay-container {
  width: 100%;
  overflow: hidden;
}

/////swiperの矢印
.swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23d91c97'%2F%3E%3C%2Fsvg%3E");
  left: 0;
}
.swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23d91c97'%2F%3E%3C%2Fsvg%3E");
  right: 0;
}
.swiper-button-prev, .swiper-button-next {
    @media (min-width: 600px) { display: block !important; }
}

/////swiperのページビュレット
.swiper-pagination-bullet-active { background: #d91c97; }

/////ギャラリー
#gallery {
  margin: 20px auto;
  position: relative;
  :before {
    content:"";
    display: block;
    padding-top: 65%; /* 高さを幅の65%に固定 */
  }
  width: 100%;
  max-width: 600px;
  overflow: visible;
  .swiper-slide { max-width: 600px; }
  .swiper-slide, .swiper-wrapper { max-height: 500px; }
  .swiper-slide {
    background-size: cover;
    background-position: center;
  }
  .swiper-button-prev, .swiper-button-next {
    display: none;
    height: 40px;
    width: 24px;
    background-size: 24px 40px;
  }
}

/////ミニ日記
#small-blog {
  max-width: 600px;
  overflow: visible;
  .swiper-slide { max-width: 600px; }
  .mdc-card { margin: 10px; }
  .mdc-card__media {
    max-height: 400px;
    overflow: hidden;
    video {
      height: 100%;
      width: 100%;
    }
  }
  .card-primary *, .card-secondary * { margin: 0; }
  .card-primary { padding: 1rem; }
  .card-secondary { padding: 0 1rem 1rem; }
  .swiper-button-prev, .swiper-button-next {
    display: none;
    top: 490px;
    width: 24px;
    height: 40px;
    margin-top: -15px;
    background-size: 24px 40px;
  }
}

/////下のフッター
#status {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  //min-height: 140px;
  width: calc(100% - 24px);
  max-width: 450px;
  padding: 5px 8px 10px;
  border-radius: 8px 8px 0 0;
  text-align: center;
  background-color: white;
  z-index: 5;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.2);
  #secretcode-register { margin-bottom: 3px; }
  #status-ticket {
    font-size: 8vw;
    margin: 0 8px;
    @media (min-width: 450px) { font-size: 36px; }
  }
  #status-right {
    width: calc(100% - 100px);
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
    font-size: 4vw;
    @media (min-width: 450px) { font-size: 18px; }
    #order-delete {
      width: 100%;
      height: 20px;
      font-size: 0.6em;
      padding: 0;
    }
    #status-text {
      display: inline-block;
      width: calc(70% - 5px);
      vertical-align: middle;
      margin-top: 1px;
      text-align: center;
    }
    #status-button {
      height: unset;
      min-height: 24px;
      width: 30%;
      min-width: unset;
      font-size: 0.7em;
      padding: 5px 0;
    }
  }
}

/////中央寄せ
#title, .mdc-card__media, #map-dialog .mdc-dialog__body, #map-image, #open-map {
  display: flex;
  justify-content: center;
  align-items: center;
}

#map-dialog {
  img {
    height: 100%;
    width: 100%;
    max-height: calc(100vh - 240px);
    max-width: 90vw;
  }
}

#review-container {
  margin: 0 10px;
  #review-body-container {
    display: flex;
    width: auto;
  }
  #review-rating {
    padding: 0;
    margin: 0;
    #review-rating-span {
     font-size: 0;
      white-space: nowrap;
      display: inline-block;
      width: 250px;
      height: 50px;
      overflow: hidden;
      position: relative;
      background: url('data:image/svg+xml;charset=utf8,%3csvg%20xmlns%3d%27http%3a%2f%2fwww%2ew3%2eorg%2f2000%2fsvg%27%20viewBox%3d%270%200%20306%20306%27%3e%3cpolygon%20points%3d%27153%2c230%2e775%20247%2e35%2c299%2e625%20211%2e65%2c187%2e425%20306%2c121%2e125%20191%2e25%2c121%2e125%20153%2c6%2e375%20114%2e75%2c121%2e125%200%2c121%2e125%2094%2e35%2c187%2e425%2058%2e65%2c299%2e625%27%20fill%3d%27%23dddddd%27%2f%3e%3c%2fsvg%3e');
      background-size: contain;
      i {
        opacity: 0;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 20%;
        z-index: 1;
        background: url('data:image/svg+xml;charset=utf8,%3csvg%20xmlns%3d%27http%3a%2f%2fwww%2ew3%2eorg%2f2000%2fsvg%27%20viewBox%3d%270%200%20306%20306%27%3e%3cpolygon%20points%3d%27153%2c230%2e775%20247%2e35%2c299%2e625%20211%2e65%2c187%2e425%20306%2c121%2e125%20191%2e25%2c121%2e125%20153%2c6%2e375%20114%2e75%2c121%2e125%200%2c121%2e125%2094%2e35%2c187%2e425%2058%2e65%2c299%2e625%27%20fill%3d%27%23FFDA44%27%2f%3e%3c%2fsvg%3e');
        background-size: contain;
      }
      input {
        -moz-appearance: none;
        -webkit-appearance: none;
        opacity: 0;
        display: inline-block;
        width: 20%;
        height: 100%;
        margin: 0;
        padding: 0;
        z-index: 2;
        position: relative;
      }
      input:hover + i, input:checked + i { opacity: 1; }
      i ~ i { width: 40%; }
      i ~ i ~ i { width: 60%; }
      i ~ i ~ i ~ i { width: 80%; }
      i ~ i ~ i ~ i ~ i { width: 100%; }
    }
  }
}

//////テーブルの基本設定
table {
  width: 100%;
  border-spacing: 0;
  table-layout: fixed;
  thead tr {
    height: 40px;
  }
  tbody tr {
    height: 50px;
  }
  th, td, button {
    font-size: 16px;
  }
  th, td {
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  th {
    color: rgba(0,0,0,.54);
  }
  td {
    height: 36px;
    padding: 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(0,0,0,.12);
  }
}
.header-table {
  height: 44px;
}
.body-table {
  width: 100%;
  overflow-y: scroll;
}

//受付.html
/////オーダー画面
@media (min-width: 900px) {
  .column {
    height: 100%;
    width: calc((100% - 30px) / 2) !important;
    margin-right: 5px;
    margin-left: 5px;
    display: inline-block;
    vertical-align: top;
    overflow-y: hidden;
  }

  #time-recept {
    display: block !important;
  }
}

.column {
  width: 100%;
}

#time-recept {
  display: none;
  width: 100%;
  margin: 5px 0;
  text-align: right;
}

.order-input-container {
  width: calc(100% - 14px - 36vw);
  height: 18vw;
  max-height: 84px;
  margin: 8px 0 !important;
  vertical-align: middle;
  input {
    height: 100%;
    padding: 0 15px !important;
    text-align: right;
    font-size: 12vw;
  }
  input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .mdc-floating-label {
    word-break: keep-all;
    font-size: 6vw;
    bottom: calc(16vw - 30px);
  }
  @media (min-width: 450px) {
    width: calc(100% - 184px);
    input { font-size: 54px; }
    .mdc-floating-label { font-size: 27px; bottom: 42px; }
  }
}

.button-up, .button-down {
  width: 18vw;
  height: 18vw;
  min-width: unset;
  max-width: 84px;
  max-height: 84px;
  line-height: 18vw;
  font-size: 10vw;
  vertical-align: middle;
  text-align: center;
  @media (min-width: 450px) { line-height: 84px; font-size: 44px; }
}

.button-up { @include mdc-button-container-fill-color(#f44336) }
.button-down { @include mdc-button-container-fill-color(#2196f3) }

#order-send, #printing-retry {
  height: 54px;
  width: 100%;
  margin-top: 12px;
  font-size: 7vw;
  @media (min-width: 450px) { font-size: 32px; }
}

#time-table-container, #review-table-container {
  //height: calc((100% - 60px) / 2 - 80px);
  tbody tr {
    height: 35px;
  }
  .body-table {
    height: calc(80vh - 44px);
    @media (min-width: 900px) { height: calc(50vh - 160px); }
  }
}

#review-table-container {
  td:nth-child(1), th:nth-child(1) {
    width: 100px;
  }
  td:nth-child(2), th:nth-child(2) {
    white-space: normal;
    text-align: left;
  } 
  td:nth-child(3), th:nth-child(3) {
    width: 80px;
  } 
}


//注文一覧.html
#order-table-container {
  height: calc(100% - 120px);
  width: 100%;
  overflow-y: hidden;
  @media (max-width: 500px) {
    thead tr { height: 8vw; }
    tbody tr { height: 10vw; }
  }
  @media (max-width: 400px) {
    th, td, button { font-size: 4vw; }
  }
  .body-table { height: calc(100% - 44px); }
  .body-table::-webkit-scrollbar { display:none; }
  button { @include mdc-button-ink-color(black); }

  td:nth-child(4), th:nth-child(4) {
    width: 25% !important;
    @media (max-width: 800px) { display: none; }
  }
  @media (max-width: 600px) {
    td:nth-child(1), th:nth-child(1), td:nth-child(5), th:nth-child(5) {
      min-width: 50px;
      width: 12.5%;
    }
    td:nth-child(2), th:nth-child(2), td:nth-child(3), th:nth-child(3) {
      min-width: 30px;
      width: 7.5%;
    }
    td:nth-child(6), th:nth-child(6), td:nth-child(7), th:nth-child(7) {
      min-width: 80px;
      width: 30%;
    }
  }
  @media (min-width: 601px) and (max-width: 800px){
    th, td { width: 16.5%; }
  }
  @media (min-width: 801px){
    th, td { width: 12.5%; }
  }
  @media (min-width: 1000px){
    display: inline-block;
    width: 80%;
  }
}

#item-table-container {
  display: none;
  height: calc(100% - 120px);
  width: calc(20% - 20px);
  box-shadow: -4px 0px 14px 2px rgba(0,0,0,0.3);
  border-radius: 5px;
  vertical-align: top;
  button { @include mdc-button-ink-color(black); }
  @media (min-width: 1000px) {
    display: inline-block;
  }
}